--
-- PostgreSQL database dump
--

-- Dumped from database version 12.3
-- Dumped by pg_dump version 12.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."AspNetRoles" (
    "Id" character varying(128) NOT NULL,
    "Name" character varying(256) NOT NULL
);


ALTER TABLE public."AspNetRoles" OWNER TO "Bartlomiej.Zawada";

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" character varying(128) NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO "Bartlomiej.Zawada";

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE SEQUENCE public."AspNetUserClaims_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."AspNetUserClaims_Id_seq" OWNER TO "Bartlomiej.Zawada";

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER SEQUENCE public."AspNetUserClaims_Id_seq" OWNED BY public."AspNetUserClaims"."Id";


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" character varying(128) NOT NULL,
    "ProviderKey" character varying(128) NOT NULL,
    "UserId" character varying(128) NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO "Bartlomiej.Zawada";

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" character varying(128) NOT NULL,
    "RoleId" character varying(128) NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO "Bartlomiej.Zawada";

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."AspNetUsers" (
    "Id" character varying(128) NOT NULL,
    "Email" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEndDateUtc" timestamp without time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL,
    "UserName" character varying(256) NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO "Bartlomiej.Zawada";

--
-- Name: Customers; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."Customers" (
    "Id" integer NOT NULL,
    "Name" character varying(255) NOT NULL,
    "IsSubscribedToNewsletter" boolean NOT NULL,
    "MembershipTypeId" smallint NOT NULL,
    "Birthdate" timestamp without time zone
);


ALTER TABLE public."Customers" OWNER TO "Bartlomiej.Zawada";

--
-- Name: Customers_Id_seq; Type: SEQUENCE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE SEQUENCE public."Customers_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Customers_Id_seq" OWNER TO "Bartlomiej.Zawada";

--
-- Name: Customers_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER SEQUENCE public."Customers_Id_seq" OWNED BY public."Customers"."Id";


--
-- Name: Genres; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."Genres" (
    "Id" smallint NOT NULL,
    "Name" text
);


ALTER TABLE public."Genres" OWNER TO "Bartlomiej.Zawada";

--
-- Name: MembershipTypes; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."MembershipTypes" (
    "Id" smallint NOT NULL,
    "Name" text,
    "SignUpFee" smallint NOT NULL,
    "DurationInMonths" smallint NOT NULL,
    "DiscountRate" smallint NOT NULL
);


ALTER TABLE public."MembershipTypes" OWNER TO "Bartlomiej.Zawada";

--
-- Name: Movies; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."Movies" (
    "Id" integer NOT NULL,
    "Name" text NOT NULL,
    "ReleaseDate" timestamp without time zone NOT NULL,
    "AddDate" timestamp without time zone NOT NULL,
    "NumberInStock" smallint NOT NULL,
    "GenreId" smallint NOT NULL
);


ALTER TABLE public."Movies" OWNER TO "Bartlomiej.Zawada";

--
-- Name: Movies_Id_seq; Type: SEQUENCE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE SEQUENCE public."Movies_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Movies_Id_seq" OWNER TO "Bartlomiej.Zawada";

--
-- Name: Movies_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER SEQUENCE public."Movies_Id_seq" OWNED BY public."Movies"."Id";


--
-- Name: __MigrationHistory; Type: TABLE; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE TABLE public."__MigrationHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ContextKey" character varying(300) NOT NULL,
    "Model" bytea NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__MigrationHistory" OWNER TO "Bartlomiej.Zawada";

--
-- Name: AspNetUserClaims Id; Type: DEFAULT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUserClaims" ALTER COLUMN "Id" SET DEFAULT nextval('public."AspNetUserClaims_Id_seq"'::regclass);


--
-- Name: Customers Id; Type: DEFAULT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."Customers" ALTER COLUMN "Id" SET DEFAULT nextval('public."Customers_Id_seq"'::regclass);


--
-- Name: Movies Id; Type: DEFAULT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."Movies" ALTER COLUMN "Id" SET DEFAULT nextval('public."Movies_Id_seq"'::regclass);


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--

COPY public."AspNetRoles" ("Id", "Name") FROM stdin;
f3d4ed54-3267-460a-be61-b931b6a3908d	CanManageMovies
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
0f2fe272-9ff3-4cf3-8fd5-bb5257e7fffa	f3d4ed54-3267-460a-be61-b931b6a3908d
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--



--
-- Data for Name: Customers; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--

COPY public."Customers" ("Id", "Name", "IsSubscribedToNewsletter", "MembershipTypeId", "Birthdate") FROM stdin;
1	Franek Kimono	t	2	1990-12-31 00:00:00
2	Boris Yelnikoff	f	2	1984-02-25 00:00:00
5	Arnold Schwarzenegger	t	1	1958-11-28 00:00:00
11	Frank Zappa	f	3	1985-12-15 00:00:00
\.


--
-- Data for Name: Genres; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--

COPY public."Genres" ("Id", "Name") FROM stdin;
1	Action
2	Comedy
3	Drama
4	Romance
5	Thriller
6	Family
\.


--
-- Data for Name: MembershipTypes; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--

COPY public."MembershipTypes" ("Id", "Name", "SignUpFee", "DurationInMonths", "DiscountRate") FROM stdin;
1	Pay As You Go	0	0	0
2	Monthly	30	1	10
3	Quarterly	90	3	15
4	Yearly	300	12	10
\.


--
-- Data for Name: Movies; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--

COPY public."Movies" ("Id", "Name", "ReleaseDate", "AddDate", "NumberInStock", "GenreId") FROM stdin;
1	Shrek	2008-04-06 00:00:00	2020-06-01 00:00:00	2	2
2	Die Hard	1996-12-04 00:00:00	2020-01-11 00:00:00	1	1
3	Matrix	2004-08-24 00:00:00	2020-05-25 00:00:00	5	1
8	Pulp Fiction	0001-01-01 00:00:00	2020-07-10 00:00:00	5	5
10	Gladiator	2004-09-20 00:00:00	2020-07-15 11:09:15.63468	4	1
\.


--
-- Data for Name: __MigrationHistory; Type: TABLE DATA; Schema: public; Owner: Bartlomiej.Zawada
--



--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: Bartlomiej.Zawada
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: Customers_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: Bartlomiej.Zawada
--

SELECT pg_catalog.setval('public."Customers_Id_seq"', 20, true);


--
-- Name: Movies_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: Bartlomiej.Zawada
--

SELECT pg_catalog.setval('public."Movies_Id_seq"', 13, true);


--
-- Name: AspNetRoles PK_public.AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_public.AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_public.AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_public.AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_public.AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_public.AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey", "UserId");


--
-- Name: AspNetUserRoles PK_public.AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_public.AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUsers PK_public.AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_public.AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: Customers PK_public.Customers; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."Customers"
    ADD CONSTRAINT "PK_public.Customers" PRIMARY KEY ("Id");


--
-- Name: Genres PK_public.Genres; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."Genres"
    ADD CONSTRAINT "PK_public.Genres" PRIMARY KEY ("Id");


--
-- Name: MembershipTypes PK_public.MembershipTypes; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."MembershipTypes"
    ADD CONSTRAINT "PK_public.MembershipTypes" PRIMARY KEY ("Id");


--
-- Name: Movies PK_public.Movies; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."Movies"
    ADD CONSTRAINT "PK_public.Movies" PRIMARY KEY ("Id");


--
-- Name: __MigrationHistory PK_public.__MigrationHistory; Type: CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."__MigrationHistory"
    ADD CONSTRAINT "PK_public.__MigrationHistory" PRIMARY KEY ("MigrationId", "ContextKey");


--
-- Name: AspNetRoles_RoleNameIndex; Type: INDEX; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE UNIQUE INDEX "AspNetRoles_RoleNameIndex" ON public."AspNetRoles" USING btree ("Name");


--
-- Name: AspNetUserClaims_IX_UserId; Type: INDEX; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE INDEX "AspNetUserClaims_IX_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: AspNetUserLogins_IX_UserId; Type: INDEX; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE INDEX "AspNetUserLogins_IX_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: AspNetUserRoles_IX_RoleId; Type: INDEX; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE INDEX "AspNetUserRoles_IX_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: AspNetUserRoles_IX_UserId; Type: INDEX; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE INDEX "AspNetUserRoles_IX_UserId" ON public."AspNetUserRoles" USING btree ("UserId");


--
-- Name: AspNetUsers_UserNameIndex; Type: INDEX; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE UNIQUE INDEX "AspNetUsers_UserNameIndex" ON public."AspNetUsers" USING btree ("UserName");


--
-- Name: Customers_IX_MembershipTypeId; Type: INDEX; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE INDEX "Customers_IX_MembershipTypeId" ON public."Customers" USING btree ("MembershipTypeId");


--
-- Name: Movies_IX_GenreId; Type: INDEX; Schema: public; Owner: Bartlomiej.Zawada
--

CREATE INDEX "Movies_IX_GenreId" ON public."Movies" USING btree ("GenreId");


--
-- Name: AspNetUserClaims FK_public.AspNetUserClaims_public.AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_public.AspNetUserClaims_public.AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_public.AspNetUserLogins_public.AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_public.AspNetUserLogins_public.AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_public.AspNetUserRoles_public.AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_public.AspNetUserRoles_public.AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_public.AspNetUserRoles_public.AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_public.AspNetUserRoles_public.AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Customers FK_public.Customers_public.MembershipTypes_MembershipTypeId; Type: FK CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."Customers"
    ADD CONSTRAINT "FK_public.Customers_public.MembershipTypes_MembershipTypeId" FOREIGN KEY ("MembershipTypeId") REFERENCES public."MembershipTypes"("Id") ON DELETE CASCADE;


--
-- Name: Movies FK_public.Movies_public.Genres_GenreId; Type: FK CONSTRAINT; Schema: public; Owner: Bartlomiej.Zawada
--

ALTER TABLE ONLY public."Movies"
    ADD CONSTRAINT "FK_public.Movies_public.Genres_GenreId" FOREIGN KEY ("GenreId") REFERENCES public."Genres"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

