@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div>
    @Html.ActionLink("Add Movie", "New", "Movies", new { area = "" }, new { @class = "btn btn-primary" })
    <p></p>
</div>
@if (Model.Any())
{
    <div>
        <table class="table-bordered">
            <th>Title</th>
            <th>Genre</th>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { Id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <h4>No movies available</h4>
}
